html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #0033cc, #0066cc);
}

.disappear {
  display: none;
}
body {
  color: white;
  text-align: center;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "montserrat";
}

#app-name {
  font-size: 45px;
  text-shadow: 2px 4px rgba(0, 0, 0, 0.5);
}

.input {
  padding: 20px 10px;
}

.input input {
  width: 100%;
  max-width: 200px;
  font-size: 15px;
  padding: 10px 15px;
  border: none;
  margin-left: 5px;
  border-radius: 16px 0px 16px 0px;
  border-bottom: 4px solid #0033cc;
  font-weight: 500;
}

.input label {
  font-size: 18px;
}

.input .countryCode {
  width: 100px;
}

.input input:focus {
  background-color: rgba(255, 255, 255, 0.8);
  outline: none;
}
#get-weather {
  width: 100px;
}

#more-info {
  width: 80px;
  font-size: 15px;
  padding: 7px;
  border: none;
  border-radius: 16px 0px 16px 0px;
  border-bottom: 4px solid #0033cc;
  font-weight: 500;
}
#more-info:focus {
  outline: none;
}

#city {
  font-size: 35px;
  text-shadow: 2px 4px rgba(0, 0, 0, 0.5);
}

#current-date {
  font-size: 20px;
}

.temp {
  font-size: 80px;
  margin: 30px 0px;
  text-shadow: 2px 6px rgba(0, 0, 0, 0.5);
  font-weight: 600;
}
#description {
  font-size: 20px;
  font-style: italic;
}

#forcast {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#forcast img {
  height: 70px;
}
#forcast div {
  background-color: #002db3;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  margin: 10px;
  padding: 10px;
}

#more-info {
  display: inline-block;
}

#time-zone {
  font-style: italic;
}
#moons-container {
  width: 615px;
  height: 80px;
  display: block;
  margin: 20px auto 20px;
}
#moon-line {
  position: relative;
  top: -68px;
  width: 50%;
}
