html {
    width:100%; height:100%;
    background-image: linear-gradient(to right,#0033cc, #0066cc); 
}

body {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#forcast {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;  
}
#forcast img {
    height: 70px;

}
#forcast div {
    background-color:  #002db3;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin: 10px;
    padding:10px;
}
}